/* чем мы занимаемся */
.what-we-do {
  padding-top: 0;
}

@media screen and (max-width: 479px) {
  .what-we-do {
    display: none;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .what-we-do {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .what-we-do {
    display: none;
  }
}

.what-we-do__set {
  display: flex;
}
.what-we-do__visual-list {
  margin-right: 30px;
  width: calc((100% - 2 * 30px) / 3);

  &:nth-child(3n) {
    margin-right: 0;
  }
}
.what-we-do__thumb {
  position: relative;
}

.what-we-do__text {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  text-align: center;
  padding: 27px 0px;

  font-size: 14px;
  line-height: 1.17;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: var(--overlay-bcg-design);
}
