.join {
  margin-top: 60px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 0;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 0;
    margin-left: 70px;
  }
}

.join__title {
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer-soc-icons {
  display: flex;
  justify-content: center;

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__item:last-child {
    margin-right: 0;
  }
}

.footer-soc-icons__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--footer-icon-bcg-color);

  display: flex;
  justify-content: center;
  align-items: center;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-text-color);
  }

  &:hover .footer-soc-icons__svg,
  &:focus .footer-soc-icons__svg {
    fill: var(--primary-white-color);
  }
}

.footer-soc-icons__svg {
  fill: var(--primary-white-color);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
