.logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
}

.logo--margin {
  margin-top: 16px;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 26px;
    margin-bottom: 26px;
  }
}

.logo__text--color {
  color: var(--accent-text-color);
}

/* элемент логотипа футера */

.logo__text-footer--color {
  color: var(--primary-white-color);
}
