html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--primary-bcg-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
  letter-spacing: 0.03em;
}

button {
  font-family: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

picture {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  color: var(--primary-text-color);
  font-style: normal;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);

  &:focus,
  &:hover {
    color: var(--accent-text-color);
  }
}
